@import 'variables.scss';
@import 'fonts.scss';

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  background-color: $color-dark;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font: 400 16px/1.5 'Mulish', sans-serif;

  color: $color-light;
  background: $gradient-purple;
}

a {
  color: inherit;
  text-decoration: none;
}

::placeholder {
  color: rgba($color-white, 0.25);
}