.wrapper {
  display: flex;

  width: 100%;
  max-width: var(--width-site);

  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  font-size: 1.75rem;
  font-weight: 700;

  strong {
    margin-left: 0.5rem;
    font-size: 1.375rem;
    letter-spacing: 1.25px;

    transform: translateY(0.125rem);
  }
}