$width-site: 52.25rem;
$width-content: 40rem;

$color-light: #ebebeb;;
$color-dark: #03050b;
$color-main: #7b3090;
$color-white: #fff;
$color-black: #000;

$gradient-silver: linear-gradient(to right, rgba($color-white, 0.9) 30%, rgba($color-white, 0.5));
$gradient-purple: radial-gradient(ellipse 40% 40% at 60% -10%,rgba($color-main, 0.3), $color-black);